body {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/114/579/original/sky.jpg?1707472369");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  color: #838386;
  padding: 2px;
  font-family: monospace;
  margin-bottom: 3px;
}

form {
  margin-bottom: 15px;
  display: inline-flex;
  width: 100%;
  height: auto;
}

a {
  color: #885df1;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

hr {
  opacity: 0.3;
}

.bold {
  font-weight: 700;
}

.container {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 5px 20px 0px 30px;
  border-radius: 10px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}

.strong-weather {
  color: #f65282;
  font-weight: 900;
}

.forecast {
  margin: 17px 0px 32px;
}

.degrees {
  font-size: 75px;
  font-weight: bold;
  margin: 5px 0px 20px 20px;
  font-family: Helvetica, Arial, sans-serif;
}

.weather-left p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.forecast-days {
  text-align: center;
}

.forecast-day {
  color: rgba(39, 33, 66, 0.4);
}

.forecast-temperature {
  color: #F4628D;
  display: flex;
  justify-content: space-between;
  padding: 0px 26px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  line-height: 1.5;
}

.temperature-minimum {
  opacity: 0.6;
  margin-left: 10px;
}

#fenrir-img {
  width: 80px;
}

#fenrir-logo {
  width: 280px;
  margin: 10px 0px 15px 5px;
}

#forecast {
  display: flex;
  justify-content: space-between;

}

#img-date {
  display: inline;
}

#sun {
  width: 88px;
  height: 88px;
  display: inline;
  position: relative;
  bottom: -20px;
}

#temperature-span {
  position: relative;
  right: -13px;
}

#celsius {
  font-size: 35px;
  position: relative;
  top: -35px;
  font-weight: lighter;
}

#input-city {
  background: #f1f7fd;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

#input-search {
  margin-left: 5px;
  font-size: 16px;
  background-color: #61a5f6;
  color: white;
  border: none;
  padding: 20px 42px;
  line-height: 1;
  border-radius: 5px;
}

#input-search:hover {
  background-color: #2761a8;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 0px;
    margin: 0px auto;
  }

  header {
    padding: 5px;
  }

  main {
    padding: 0px 4px;
  }

  footer {
    padding: 10px;
  }

  h1 {
    font-size: 25px;
  }

  .degrees {
    font-size: 55px;
    display: flex;
    flex-direction: row;
    margin: 8px 20px 8px 40px;
  }

  .current-weather {
    padding: 8px 0px;
    justify-content: center;
  }

  .weather-left {
    margin: 10px 30px 10px 0px;
    padding-left: 0px;
  }

  .fenrir {
    margin-top: 15px;
  }

  .mobile {
    display: block;
  }

  #temperature-span {
    bottom: -31px;
  }

  #specification-weather {
    display: none;
  }

  #forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #celsius {
    font-size: 25px;
    top: 38px;
    left: 20px;
  }

  #sun {
    width: 65px;
  }

  #fenrir-img {
    width: 60px;
    height: auto;
  }

  #fenrir-logo {
    width: 250px;
    height: auto;
  }

  #form-search-input {
    padding: 0px;
  }

  #input-city {
    width: 100%;
  }

  #input-search {
    width: 125px;
    margin: 0px;
    padding: 20px 32px;
  }
}

/*
    

  
}